* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #009688;
}

.text-center {
	text-align: center;
}

.right-align {
	text-align: right;
}

h1 {
	font-family: 'Roboto';
	font-weight: 700;
	font-size:40px;
	color:#444;
}

a,
i {
	cursor: pointer;
}

body {
	width: 100%;
	background: #232323;
}

#vapp {
	margin: 0 auto;
	width: 100%;
}

.container {
	margin: 30px auto;
	border-radius: 1px;
	background: #fff;
}

.fonts {
	color: #333;
	cursor: pointer;
}
.fonts:hover {
	text-decoration: underline;
}

.el-card {
	border-color : #bbb;
}
body {
	margin: 0px;
}
