<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>File Manager</title>
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link rel="icon" type="image/png" href="/icons/favico.png" />
		<link rel="stylesheet" href="/css/theme/index.css">
		<link rel="stylesheet" href="/fonts/Roboto/roboto.css">
		<link rel="stylesheet" href="/css/index.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="/js/vue.min.js"></script>
		<script src="/js/vue-router.min.js"></script>
		<script src="/js/httpVueLoader.js"></script>
		<script src="/js/elementui.min.js"></script>
		<script src="/js/element.en.js"></script>
		<script src="/js/axios.min.js"></script>
		<script src="/js/cookies.min.js"></script>
	</head>

	<body>
		<div id="vapp">
			<el-row v-show="isLoggedIn == false" type="flex" class="row-bg" justify="center" style="margin-top:100px">
				<el-col :xs="24" :sm="16" :md="12" :lg="8">
					<el-card class="box-card">
						<div slot="header" class="clearfix" style="text-align:center">
							<span>Login</span>
						</div>
						<el-form :label-position="'left'" label-width="80px">
							<el-form-item label="Password">
								<el-input v-model="password" type="password"></el-input>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="login">Login</el-button>
							</el-form-item>
						</el-form>
					</el-card>
				</el-col>
			</el-row>
			<el-container class="container" v-show="isLoggedIn == true">
				<el-header class="text-center">
					<h1>File Manager<span style="float:right;cursor: pointer;font-size:14px; font-weight: normal" @click="logout()">Logout</span></h1>
				</el-header>
				<el-main>
					<el-row type="flex" class="row-bg" justify="space-between">
						<el-col>
							<el-button size="small" @click="openLocalUploadDialog()" type="primary" icon="el-icon-upload">Upload</el-button>
							<el-button type="primary" @click="openRemoteUploadDialog()" size="small" icon="el-icon-upload">Remote Upload</el-button>
							<el-dropdown style="margin-left:10px" split-button type="primary" size="small" trigger="click" @command="handleCommand">
								Actions
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item command="cut" :disabled="multipleSelection.length == 0">Cut</el-dropdown-item>
									<el-dropdown-item command="copy" :disabled="multipleSelection.length == 0">Copy</el-dropdown-item>
									<el-dropdown-item command="paste" :disabled="operation.parentPath.length == 0">Paste</el-dropdown-item>
									<el-dropdown-item command="delete" :disabled="multipleSelection.length != 1">Delete</el-dropdown-item>
									<el-dropdown-item command="rename" :disabled="multipleSelection.length != 1">Rename</el-dropdown-item>
									<el-dropdown-item command="size" :disabled="multipleSelection.length == 0">Get Size</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
							<i class="el-icon-refresh" style="font-weight: bold;margin-left: 10px;font-size: 20px" @click="refresh()"></i>
							<el-button style="float:right" type="primary" @click="addDirectory()" size="small" icon="el-icon-plus">New Folder</el-button>
						</el-col>
					</el-row>
					<el-row style="margin: 25px 0">
						<el-col :span="24">
							<el-breadcrumb separator-class="el-icon-arrow-right">
								<el-breadcrumb-item>
									<a @click="openDir('/')">Home</a>
								</el-breadcrumb-item>
								<el-breadcrumb-item v-for="(dir, index) in stack">
									<a @click="openStack(index)">{{dir}}</a>
								</el-breadcrumb-item>
							</el-breadcrumb>
						</el-col>
					</el-row>
					<el-row type="flex" class="row-bg" justify="center">
						<el-col :span="24">
							<el-card>
								<el-table ref="multipleTable" :data="tableDataFinal" style="width: 100%" @selection-change="handleSelectionChange" size="medium" highlight-current-row>
									<el-table-column type="selection" width="55">
									</el-table-column>
									<el-table-column label="Name">
										<template slot-scope="scope">
											<span v-if="scope.row.isDir" class="fonts" style="font-weight: bold;" @click="openDirFromList(scope.row.name)">{{ scope.row.name }}</span>
											<span v-if="!scope.row.isDir" class="fonts" @click="download(scope.row.name)">{{ scope.row.name }}</span>
										</template>
									</el-table-column>
									<el-table-column align="right">
										<template slot-scope="scope">
											<span v-if="!scope.row.isDir" style="margin-right: 10px">{{ scope.row.size }}</span>
										</template>
									</el-table-column>
								</el-table>
								<el-row type="flex" align="middle" class="row-bg" justify="space-between" style="margin-top: 20px">
									<el-col style="text-align:right">
										<el-checkbox v-model="hiddenFiles">Show Hidden Files</el-checkbox>
									</el-col>
								</el-row>
							</el-card>
						</el-col>
					</el-row>
				</el-main>
			</el-container>
			<el-dialog title="File(s) Upload" :visible.sync="localFileUploadDialog">
				<el-form>
					<el-upload :action="'/apis/upload.php?parentDir=' + currentDir" multiple :file-list="uploadFilesList">
						<el-button size="small" type="primary">Add Files</el-button>
					</el-upload>
				</el-form>
				<span slot="footer" class="dialog-footer">
					<el-button type="primary" @click="closeLocalUploadDialog()">Close</el-button>
				</span>
			</el-dialog>
			<el-dialog title="Remote File Upload" :visible.sync="remoteUploadDialog">
				<el-form>
					<el-form-item label="File Url" label-width="150">
						<el-input v-model="remoteUrl" auto-complete="off"></el-input>
					</el-form-item>
					<el-form-item label="Name" label-width="150">
						<el-input v-model="remoteUrlName" auto-complete="off"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
					<el-button @click="remoteUploadDialog = false;refresh()">Cancel</el-button>
					<el-button type="primary" @click="remoteUpload()">Upload</el-button>
				</span>
			</el-dialog>
		</div>
		<script>
			ELEMENT.locale(ELEMENT.lang.en);
			new Vue({
				el: '#vapp',
				data: {
					password: '',
					tableData: [],
					multipleSelection: [],
					currentDir: '/',
					hiddenFiles: false,
					remoteUploadDialog: false,
					localFileUploadDialog: false,
					remoteUrl: '',
					remoteUrlName: '',
					uploadFilesList: [],
					operation: {
						type: '',
						parentPath: '',
						selectedFiles: ''
					},
					isLoggedIn: Cookies.get("LAST_ACTIVITY") ? true : false
				},
				computed: {
					stack() {
						var substring = this.currentDir;
						if (this.currentDir == '/') {
							return [];
						}
						substring = substring.substring(1);
						return substring.split('/');
					},
					tableDataFinal() {
						var arrDir = [];
						for (var temp of this.tableData) {
							if (temp.isDir && (this.hiddenFiles || !temp.name.startsWith('.'))) {
								arrDir.push(temp);
							}
						}

						var arrFile = [];
						for (var temp of this.tableData) {
							if (!temp.isDir && (this.hiddenFiles || !temp.name.startsWith('.'))) {
								arrFile.push(temp);
							}
						}

						arrDir.sort((o1, o2) => {
							return o1.name.localeCompare(o2.name);
						});
						arrFile.sort((o1, o2) => {
							return o1.name.localeCompare(o2.name);
						});
						return arrDir.concat(arrFile);
					}
				},
				created() {
					this.extractUrlParam();
					this.isLoggedIn = Cookies.get("LAST_ACTIVITY") ? true : false;
					if (!this.isLoggedIn) {
						return;
					}
					this.isLoggedIn = true;
					this.refresh();
				},
				methods: {

					extractUrlParam() {
						var paramsPath = location.search.substring(1);
						if (paramsPath) {
							var parameters = paramsPath.split("&");
							if (parameters.length > 0) {
								var firstParam = parameters[0];
								if (firstParam.indexOf('=') != -1) {
									firstParamVal = firstParam.split('=')[1];
									if (firstParamVal) {
										firstParamVal = unescape(firstParamVal);
										if (firstParamVal) {
											console.log(firstParamVal);
											this.currentDir = firstParamVal;
										}
									}
								}
							}
						}
					},

					login () {
						if (!this.password) {
							this.$message({
								message: 'Please fill password',
								type: 'error',
								center: true
							});
							return;
						}

						axios.post('/apis/signin.php', {
							'password': this.password
						}).then(result => {
							if (result.data.status == 'success') {
								Cookies.set('LAST_ACTIVITY', 'youcandeleteit', { expires: 86400 }); // 1 day
								this.isLoggedIn = true;
								this.refresh();
							} else {
								this.password = '';
								this.$message({
									message: result.data.message,
									type: 'error',
									center: true
								});
							}
						}).catch(error => {
							this.$message({
								message: 'Error while checking login details',
								type: 'error',
								center: true
							});
						});
					},

					logout() {
						window.history.replaceState('', 'File Manager', '');
						axios.post('/apis/signout.php');
						Cookies.expire("LAST_ACTIVITY");
						this.isLoggedIn = false;
					},

					openLocalUploadDialog() {
						this.localFileUploadDialog = true;
					},

					closeLocalUploadDialog() {
						this.localFileUploadDialog = false;
						refresh();
						this.uploadFilesList.splice(0, this.uploadFilesList.length);
					},

					openRemoteUploadDialog() {
						this.remoteUrl = '';
						this.remoteUrlName = '';
						this.remoteUploadDialog = true;
					},

					setOpearation(type) {
						this.operation.type = type;
						this.operation.parentPath = this.currentDir;
						this.operation.selectedFiles = this.multipleSelection;
					},

					handleCommand(command) {
						if (command == 'cut') {
							this.setOpearation('cut');
						} else if (command == 'copy') {
							this.setOpearation('copy');
						} else if (command == 'paste') {
							this.paste();
						} else if (command == 'rename') {
							this.rename();
						} else if (command == 'size') {
							this.fetchSize();
						} else if (command == 'delete') {
							this.delete();
						}
					},

					fetchSize() {
						var url = `/apis/size.php`;
						axios.post(url, {
							'parentDir': this.currentDir,
							'files': JSON.stringify(this.multipleSelection)
						}).then((response) => {
							this.$message({
								message: 'Size : ' + response.data
							});
						}).catch(() => {
							this.$message({
								type: 'error',
								message: 'Unable to fetch file(s) size'
							});
						});
					},

					paste() {
						var url = `/apis/${this.operation.type}.php`;
						axios.post(url, {
							'sourceDir': this.operation.parentPath,
							'files': JSON.stringify(this.operation.selectedFiles),
							'destinationDir': this.currentDir
						}).then((response) => {
							this.refresh();
							this.operation.parentPath = '';
						}).catch(() => {
							this.operation.parentPath = '';
							this.$message({
								type: 'error',
								message: `Unable to ${this.operation.type} file(s)`
							});
						});
					},

					rename() {
						this.$prompt('Please enter new name', {
							confirmButtonText: 'Ok',
							cancelButtonText: 'Cancel',
						}).then(value => {
							value = value.value;
							if (value) {
								var url = '/apis/rename.php';
								axios.post(url, {
									'parentDir': this.currentDir,
									'newName': value,
									'oldName': this.multipleSelection[0]
								}).then((response) => {
									this.refresh();
								}).catch(() => {
									this.$message({
										type: 'error',
										message: `Unable to rename file`
									});
								});
							}
						}).catch(() => { });
					},

					delete() {
						this.$confirm('Are you sure want to permanently delete ?', {
							confirmButtonText: 'Yes',
							cancelButtonText: 'No',
							type: 'warning'
						}).then(() => {
							axios.post('/apis/delete.php', {
								'parentDir': this.currentDir,
								'file': this.multipleSelection[0]
							}).then((response) => {
								this.refresh();
							}).catch(() => {
								this.$message({
									type: 'error',
									message: 'Unable to delete files'
								});
							});
						}).catch(() => {
						});
					},

					remoteUpload() {
						this.remoteUploadDialog = false;
						axios.post('/apis/remote-upload.php', {
							'parentDir': this.currentDir,
							'url': this.remoteUrl,
							'filename': this.remoteUrlName
						}).then((response) => {
							this.$message({
								message: response.data
							});
							this.openDir(this.currentDir);
						});
						this.$message({
							type: 'success',
							message: 'Your file will soon be downloaded'
						});
					},

					openStack(index) {
						var path = '';
						for (var i = 0; i <= index; i++) {
							path = path + '/' + this.stack[i];
						}
						this.openDir(path);
					},

					addDirectory() {
						this.$prompt('Please enter directory name', {
							confirmButtonText: 'Add',
							cancelButtonText: 'Cancel',
						}).then(value => {
							if (value) {
								axios.post('/apis/dir-add.php', {
									'dirname': value.value,
									'parentPath': this.currentDir
								})
									.then((response) => {
										this.$message({
											type: 'success',
											message: 'Directory Added'
										});
										this.refresh();
									}).catch(() => {
										this.$message({
											type: 'error',
											message: 'Unable to add directory'
										});
									})
							}
						}).catch(() => { });
					},

					refresh() {
						this.openDir(this.currentDir);
					},

					handleSelectionChange(val) {
						this.multipleSelection = val.map(obj => obj.name);
					},

					openDirFromList(name) {
						if (this.currentDir == '/') {
							this.openDir('/' + name);
						} else {
							this.openDir(this.currentDir + '/' + name);
						}
					},

					openDir(path) {
						window.history.replaceState('', 'File Manager', '?path=' + path);
						axios.get('/apis/files-list.php?path=' + path)
							.then((response) => {
								this.currentDir = path;
								this.tableData = response.data;
							})
							.catch(() => {
								this.$message({
									type: 'error',
									message: 'Unable to fetch contents of ' + path
								});
							});
					},

					download(name) {
						var path = '';
						if (this.currentDir == '/') {
							path = '/' + name;
						} else {
							path = this.currentDir + '/' + name;
						}
						document.location = '/apis/download.php?path=' + path;
					}
				}
			});
		</script>
	</body>

</html>
